<!DOCTYPE html>
<html>
<head>
    <title>蛇.tw</title>
</head>
<body>
    <h1>歡迎光臨網頁</h1>
    <a>Hello World!</a>
    <h2>這是一個測試網站</h2>
    <a>網站主人正在嘗試轉換網址中</a>
    <h3>網站主人的星座是超PEACE天秤座!</h3>
    <a>如果你認出來了? 沒錯，是我!</a>
    <img style="display: block;margin: auto;"
    src="https://cdn.pixabay.com/photo/2023/11/06/09/43/lotus-8369252_1280.jpg"
    width="1000" height="500">
    <img style="display: block;margin: auto;"
    src="https://cdn.pixabay.com/photo/2021/08/07/19/49/cosmea-6529220_1280.jpg"
    width="1000" height="500">

</body>
</html>
