<!DOCTYPE html>
<html>
<head>
    <title>蛇.tw</title>
</head>
<body>
    <h1>歡迎光臨網頁</h1>
    <a>Hello World!</a>
    <h2>這是一個測試網站</h2>
    <a>網站主人正在嘗試轉換網址中</a>
    <h3>網站主人的星座是超PEACE天秤座!</h3>
    <a>如果你認出來了? 沒錯，是我!</a>
    <img style="display: block;margin: auto;"
    src="https://media.gq.com.tw/photos/66430b3b0c59849a31f3ed10/16:9/w_2560%2Cc_limit/New-ChatGPT-Tier-Gear-GettyImages-2151457871.jpg"
    width="150" height="150">
    <img style="display: block;margin: auto;"
    src="c:\Users\123\Pictures\Saved Pictures\0001901_37-029-classification-folder-6-p-fs-blue-pu64lbl.jpeg">
</body>
</html>
